---
import "../css/generel.css";
import "../css/animation.css";
import Navigation from "../components/Navigation.astro";
import LogoBar from "../components/LogoBar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/splogomobil1.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap" rel="stylesheet" />
    <title>Sandwichpaneler.dk</title>
  </head>
  <body>
    <header>
      <Navigation />
    </header>
    <main>
      <div id="hero">
        <video src="/herovideo.mov" autoplay muted loop></video>
        <div class="hero_items">
          <h1>Sandwichpaneler til dansk byggeri!</h1>
          <p>Sandwichpaneler består af en tyk kerne af isoleringsmateriale med en tynd stålplade på inder- og yderside.</p>

          <div class="hero_btn">
            <a href="#owner" class="btn btn_cta">Kontakt</a>
            <a href="/about" class="btn btn_ghost">Læs mere</a>
          </div>
        </div>
      </div>
      <LogoBar />

      <div class="max_width">
        <div class="product_card card_pink grid_1-2 scroll_animation">
          <a href="/about#fordele">
            <img src="/12.avif" alt="dummy" />
          </a>
          <div>
            <a href="/about#fordele">
              <h3>Fordele ved PIR sandwichpaneler</h3>
              <p>Om det drejer sig om tag eller facade, så er byggeri med sandwichpaneler en super hurtig byggeproces. De store lette paneler monteres med få specialskruer, hvorefter de udgør en færdig bygningsdel med smukke, vedligeholdelsesfrie overflader.</p>
            </a>
            <a href="/about#fordele" class="btn">Læs mere her </a>
          </div>
        </div>
        <div class="product_card card_blue grid_2-1 scroll_animation_2">
          <a href="/about#mineraluld" class="order">
            <img src="/8.avif" alt="dummy" />
          </a>
          <div>
            <a href="/about#mineraluld">
              <h3>PIR eller Mineraluld</h3>
              <p>Sandwichpaneler med kerne af mineraluld Generelt er vores sandwichpaneler med kerne af mineraluld klassificeret som A2-s1, d0 (”ubrændbart”) samt ”EI-60” eller bedre, og dermed opfylder langt de fleste almindeligt forekommende brandkrav til både tag og ydervægge i alle bygningstyper.</p>
            </a>
            <a href="/about#mineraluld" class="btn">Læs mere her </a>
          </div>
        </div>
        <div class="product_card card_pink grid_1-2 scroll_animation">
          <a href="/about#opbygning"> <img class="order" src="/27.avif" alt="dummy" /></a>
          <div>
            <a href="/about#opbygning">
              <h3>Opbygning af sandwichpaneler</h3>
              <p>Alle vores sandwichpaneler er opbygget med galvaniseret og lakeret stålplade på yder- og inderside. Tykkelsen på inder- og yderplade tilpasses krav til styrke. Langt de fleste af de paneler vi sælger, er produceret med 0,5mm plade på begge sider.</p>
            </a>
            <a href="/about#opbygning" class="btn">Læs mere her</a>
          </div>
        </div>

        <div id="owner" class="grid_1-1">
          <img src="/16.avif" alt="dummy" class="order" />
          <div>
            <h2>KONTAKT!</h2>
            <ul>
              <li><p>Telefon:</p><a href="tel:+45 40 27 08 97"><p>+45 40 27 08 97</p></a></li>
              <li><p>Email:</p> <a href="mailto:info@sandwichpaneler.dk"><p>info@sandwichpaneler.dk</p></a></li>
            </ul>
          </div>
          <div class="info_box">
            <p>Ring - eller endnu bedre send en mail med en kort beskrivelse af det projekt, du overvejer at bruge sandwichpaneler til. Hvis du har en eksisterende hal som du overvejer at give nye vægge og/eller tag er det bedst med nogle tegninger. Billeder kan også være en stor hjælp.</p>
          </div>
        </div>
      </div>
    </main>
    <Footer />
    <script src="../js/scrolleffect.js"></script>
  </body>

  <style>
    /*---- HERO -----*/
    #hero {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      height: 100vh;
    }

    #hero video {
      grid-column: 1/3;
      grid-row: 1/3;
      height: 100vh;
    }

    @media (max-width: 800px) {
      #hero video {
        display: none;
      }

      #hero {
        background-image: url("/heromobil.avif");
        background-position: 50%;
        background-size: cover;
      }
    }

    .hero_items {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: end;
      z-index: 1000;
      color: white;
      padding-left: 20px;
    }

    .hero_items p {
      max-width: 60ch;
    }

    .hero_btn {
      display: flex;
      justify-self: start;
      gap: 20px;
      margin-top: 2rem;
    }

    /*----- PRODUCT CARDS ------*/

    .order {
      order: 1;
    }
    .card_pink {
      background-color: var(--color-two);
    }

    .card_blue {
      background-color: var(--color-one);
    }

    .product_card div:last-child {
      padding: 2rem;
    }

    .product_card img {
      max-width: 500px;
    }

    .product_card div {
      align-self: center;
    }

    .product_card h3,
    .product_card p,
    .product_card a {
      color: white;
    }

    .product_card {
      margin-bottom: 3rem;
    }

    .card_blue {
      margin-left: auto;
    }

    #owner:hover .info_box {
      left: 27%;
      bottom: -1rem;
    }

    #owner {
      position: relative;
      margin-top: 8rem;
      background-color: var(--color-one);
      color: whitesmoke;
    }

    #owner img {
      object-fit: cover;
    }

    #owner > div {
      padding: 2rem;
      margin: 0;
      align-self: center;
    }

    #owner .info_box {
      background-color: var(--color-three);
      padding: 1.5rem;
      border-radius: 0 0 5px 5px;
      color: var(--color-one);
    }

    #owner ul li a {
      display: block;
      margin-bottom: 2rem;
      color: whitesmoke;
    }

    #owner h2 {
      margin-bottom: 1rem;
    }
    #ordrerproces {
      position: relative;
      margin: 5rem auto;
      background-color: var(--color-two);
      color: whitesmoke;

      max-width: 65ch;
    }

    #ordrerproces img {
      object-fit: cover;
    }

    #ordrerproces > div {
      padding: 2rem;
      margin: 0;
      align-self: center;
    }

    @media (min-width: 800px) {
      .grid_1-2 {
        display: grid;
        grid-template-columns: 4fr 5fr;
        gap: 0.5rem;
      }

      .grid_2-1 {
        display: grid;
        grid-template-columns: 5fr 4fr;
        gap: 0.5rem;
      }

      .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }
      .card_pink::after {
        display: block;
        content: "";
        width: 75%;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        box-shadow: 30px 15px 1px var(--color-four);

        z-index: -1;
      }

      .card_blue::after {
        content: "";
        width: 75%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        box-shadow: -30px 15px 1px var(--color-three);

        z-index: -1;
      }

      #owner .info_box {
        position: absolute;
        bottom: -1.5rem;
        left: 25%;
        width: 450px;
        border-radius: 0;
        transition: all 0.5s;
      }

      .product_card {
        max-width: 1000px;
        max-height: 500px;
        position: relative;
        transition: 0.25s;
        margin-bottom: 3rem;
      }
    }
  </style>
</html>
