---

---

<footer>
  <div id="footer_logo"></div>
  <div>
    <ul class="footer_nav">
      <li><a href="products_org.html">Organisationer</a></li>
      <li><a href="products_org.html">Privatarrangementer</a></li>
      <li><a href="products_org.html">Soloundervisning</a></li>
      <li><a href="products_org.html">Netkor</a></li>
    </ul>
    <ul class="socials">
      <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
      <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
    </ul>
  </div>
  <div class="copyright">
    <p>© Aria. All rights reserved.</p>
    <div class="made_by"><p>Designed and made by PureWeb.dk</p> <img src="/globussort.svg" alt="pureweb" /></div>
  </div>
</footer>

<style>
  footer {
    padding: 1rem 0 1rem;
    margin-top: 2rem;
  }

  footer div {
    margin-bottom: 1rem;
  }

  #footer_logo {
    background-image: url("/globussort.svg");
    background-size: 100%;
    aspect-ratio: 1 / 1;
    width: 75px;
    margin: auto;
    margin-bottom: 2rem;
  }

  footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
  }

  footer a {
    color: black;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }

  .made_by img {
    width: 15px;
    margin: auto;
    margin-top: 0.5rem;
  }
  .socials {
    margin-top: 1rem;
  }

  .socials a {
    color: black;
    font-size: 1.5rem;
  }

  .copyright {
    border-top: 1px solid black;
    color: black;
    padding: 1rem 0;
  }

  .copyright a {
    text-decoration: underline;
  }

  .copyright p {
    font-size: 0.5rem;
    text-align: center;
    margin-top: 1rem;
  }
</style>
